@import url("http://fonts.cdnfonts.com/css/sora");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    scroll-behavior: smooth;
}

.dashboard__active {
    filter: invert(26%) sepia(81%) saturate(6404%) hue-rotate(354deg)
        brightness(94%) contrast(124%);
}

.shadow__up {
    box-shadow: 0 -32px 38px 0 rgba(0, 0, 0, 0.7);
}

.banner__mask {
    -webkit-mask-image: url('../public/images/banner-mask.svg');
    mask-image: url('../public/images/banner-mask.svg');
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
