@import url("http://fonts.cdnfonts.com/css/sora");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    scroll-behavior: smooth;
}

.dashboard__active {
    filter: invert(26%) sepia(81%) saturate(6404%) hue-rotate(354deg)
        brightness(94%) contrast(124%);
}

.shadow__up {
    box-shadow: 0 -32px 38px 0 rgba(0, 0, 0, 0.7);
}

.banner__mask {
    -webkit-mask-image: url("../public/images/banner-mask.svg");
    mask-image: url("../public/images/banner-mask.svg");
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.clip {
    clip-path: path(
        "M620.306 0H1689V503.83H755.381C750.649 503.416 583.217 471.526 572.228 717.539V1117H0.130477L0.130477 932.335C-1.24317 921.359 5.19687 713.567 172.07 645.363L327.262 612.548C371.844 604.827 413.802 575.229 413.802 503.83V282.046C413.802 164.075 432.575 27.3348 620.306 0Z"
    );
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
