@import url("http://fonts.cdnfonts.com/css/sora");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
